.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.flipCardActive .flip-card-inner {
transform: rotateY(-180deg);
background-color: #e8c2ff;

}

.flip-card-front img {
position: relative;
width: 100%;
height: 100%;
}



.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px; 
  background-color: transparent;
    border-radius: 20px;
}

.flip-card-inner {
background-color: rgb(251, 251, 251);
position: relative;
width: 100%;
border-radius: 20px;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;

}



.flip-card-front,
.flip-card-back {
position: absolute;
width: 100%;
height: 100%;
border-radius: 20px;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;

}


.flip-card-front {

border-radius: 20px;
background-color: #e8c2ff;
transition: all 0.8s;


}

.flip-card-front:hover {
background-color: #d28efc;
}

.flip-card-front img {

border-radius: 20px;

transform-style: preserve-3d; 
}

#img2 {
  transition: transform 0.8s;
}

#img2:hover {
transform: rotate(360deg);
}


.flip-card-back {

border-radius: 20px;
color: white;
transform: rotateY(180deg);
}

.flip-card-back img {
border-radius: 20px;
}

.board {
  display: grid;
  margin-top: 2%;
  margin-bottom: 2%;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-content: center;
  justify-content: space-around;
  margin-left: 50%;
  margin-right: 50%;

}
.card {
  width: 100%;
  height: 100%;
  position: relative;
}

.matched{
 opacity: 0.3;
}